.mainContentArea {
  min-height: 100vh;
}

.aboutTextContainer {
  display: flex;
  align-items: center;
}

.aboutTextContainerMobile {
  padding-top: 1em;
  padding-bottom: 1em;
}

.introHeader {
  font-size: 5em;
}

.introText {
  font-size: 2em;
}

.profilePic {
  border-radius: 0.5em;
}
