
.containingDiv {
    position: relative;
    /* height: 15vh; */
}

.hr {
    /* position: absolute; */
    width: 100%;
    /* top: 0; */
    height: 1px;
    color: black;
    background-color: black;
    /* border-bottom: 1px solid black; */
}

/* .box {
    padding-top: 1em;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #33b5e5;
    width: 5em;
    height: 5em;

} */

.plusButton {
    position: absolute;
    top: 0.75em;
    left: 1.75em;
    background: none;
    border: none;
    border-radius: 100%;
    z-index: 5;
    font-size: 1em;
}

.plusIcon {
    color: black;
    transform: rotate(0deg);
    transition: transform 2s;
}

.iBackground {
    position: absolute;
    top: calc(50% - 0.35em);
    left: calc(50% - 0.35em);
    width: 0.75em;
    height: 0.75em;
    background-color: white;
    border-radius: 100%;
    z-index: -1;
}

.buttonContainer {
    position: relative;
    height: 0vh;
    max-height: 28vh;
    transition: height 2s, transform 2s;
    overflow: hidden;
}

/* .spacer {
    height: 15vh;
    width: 100%;
    transition: height 2s;
}

.spacerOpen {
    height: 5vh;
    width: 100%;
} */