.iconBarBar {
    position: relative;
    /* width: 100%; */
    height: 20px;
    top: 1em;
    z-index: 1;
    background-color: rosybrown;
    overflow: hidden;
    border-radius: 25px;
  }
  
  .iconBarIcons {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  
  .iconSpan {
    font-size: xx-large;
  }