.portfolio_item {
    position: relative;
    background-color: white;
    border: 1px solid #33b5e5;
    overflow: hidden;
    width:100%;
    height: 50vw;
    max-height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio_item_grey {
    position: relative;
    background-color: white;
    border: 1px solid grey;
    overflow: hidden;
    width:100%;
    height: 50vw;
    max-height: 300px;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.portfolio_item_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_item_img_grey {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

/* 
This is actually the overlay for the deploy link, not the repo link. Sorry. 
These got chaged a while ago and fixing the naming isn't at the top of my to-dos
*/
.repo_overlay {
    position: absolute; 
    top: 8px; 
    right: 8px;
    background: rgb(0, 0, 0);
    background: rgba(99,198,235, 1);
    color: #f1f1f1; 
    width: 40%;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-align: right;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

.repo_overlay_grey {
    position: absolute; 
    top: 8px; 
    right: 8px;
    background: rgb(0, 0, 0);
    background: grey;
    color: #f1f1f1; 
    width: 40%;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-align: right;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

.repo_overlay_a {
    color: white;
}

.title_overlay {
    position: absolute; 
    bottom: 20px; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: calc(100% - 0.8em);
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.card_container {
    max-height: 300px;
    margin-bottom: 1em;
}

/* Applied insted of .card_container when the mouseOver event is actived.
Gives a nice zoom/grow effect on the mouse over for portfolio project cards.
*/
.card_container_hover {
    max-height: calc(300px * 1.02);
    margin-bottom: 0;
    transform: scale(1.02);
}