.imgGrey {
    filter: grayscale(100);
}

.selectedHighlight {
  border-bottom:  3px solid #4b6cc1;
}

.techLogoContainers {
  overflow: visible;
  position: relative;
  padding: 0.1em;
  background: none;
  max-height: 18vh;
}