.containerDiv {
  overflow: visible;
  position: relative;
  background: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tooltip {
  position: absolute;
  left: auto;
  bottom: -1%;
  background: #4b6cc1;
  color: white;
  border-radius: 0.4em;
  z-index: 100;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.tooltipHidden {
  visibility: hidden;
}

.tooltipAfter {
  content: "";
  position: absolute;
  top: 17%;
  left: 50%;
  width: 0;
  height: 0;
  border: 0.781em solid transparent;
  border-bottom-color: #4b6cc1;
  border-top: 0;
  margin-left: -0.781em;
  margin-top: -0.781em;
  z-index: -1;
}

/* For flipping the tooltip to above  */

.ttTop {
  bottom: initial;
  top: -50%;
}

.ttaTop {
  top: initial;
  bottom: -10%;
  transform: rotate(180deg);
}