body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .profilePic {
  right: 1em;
} */

.profilePic img {
  /* max-width: 200px !important; */
  border-radius: 5px;
}

.iconBarComponent {
  position: absolute;
  bottom: 15%;
  right: 100%;
  width: 100%;
}

/* .textBaloonComponent {
  position: absolute;
  bottom: 15%;
  right: 100%;
  width: 100%;
} */

.spacer {
  clear: both;
  min-width: 1px;
  min-height: 1px;
}

@media only screen and (max-width: 600px) {
  .iconBarComponent {
    position: relative;
    width: 100%;
    right: 0;
    bottom: 0;
  }

  

  .iconBarIcons {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  
}