body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-blue {
  background-color: #4b6cc1;
}

/* .spacer {
  clear: both;
  min-width: 1px;
  min-height: 1px;
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

/* h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 100pt;
  text-align: center;
}

@media only screen and (max-width: 1200px) {

  .portfolioHOne {
    margin-top: 10%;
  }
  
}

@media only screen and (max-width: 992px) {

  .portfolioHOne {
    margin-top: 40%;
    font-size: 20vw;
  }
  
}

@media only screen and (max-width: 767px) {

  h1 {
    margin-top: -40%;
    font-size: 20vw;
  }

  .contactHOne {
    margin-top: 0;
  }
  /* .aboutHOne {
    margin-bottom: -10%;
  } 

  .overlapContainer {
    position: relative;
    right: 0;
    top: -15%;
    width: 100%;
    margin: 0, auto;
  }
  
} 

*/