body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

.background-blue {
  background-color: #4b6cc1;
}

.display-flex {
  display: flex;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* NOTES:
- Current breakpoint for desktop/mobile is 767px

*/

/* ----------------------------------------------------- */
/* Styling for Tooltip Component */
/* ----------------------------------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 1;
  overflow: visible;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #4b6cc1;
  color: #fff;
  text-align: center;
  width: 120px;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: -60px;
}

/* Tooltip text large */
.tooltip .tooltiptextResponsive {
  visibility: hidden;
  background-color: #4b6cc1;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 1em;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Bottom Postion Specific Styling */
.tooltip .tooltiptextBottom {
  top: 100%;
  left: 50%;
}

/* Top Position Specific Styling */
.tooltip .tooltiptextTop {
  bottom: 100%;
  left: 50%;
}

/* Show the tooltip text when you mouse over the tooltip container or click it */
.tooltipHoverable:hover .tooltiptext {
  visibility: visible;
}

/* Show the tooltip text when you select (click or tab to) the tooltip container element */
.tooltipClickable:focus-within .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextTop::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4b6cc1 transparent transparent transparent;
}

.tooltip .tooltiptextBottom::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4b6cc1 transparent;
}

/* Styling for tooltip modal */
.customModalSizing {
  max-width: 75vw;
  margin: auto;
}

/* ----------------------------------------------------- */
/* Styling for About section component */
/* ----------------------------------------------------- */

/* This class has a Media Query version for mobile size */
.about__text-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.about__header {
  font-size: 5em;
}

.about__text {
  font-size: 2em;
}

/* This class has a Media Query version for mobile size */
.about__img-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.about__img {
  border-radius: 0.5em;
}

@media only screen and (max-width: 767px) {
  .about__text-container {
    display: flex;
    align-items: center;
    min-height: 0;
    padding-top: 2em;
    padding-bottom: 0;
  }

  .about__img-container {
    min-height: 0;
    display: flex;
    align-items: center;
  }
}

/* ----------------------------------------------------- */
/* Styling for Project Card component */
/* ----------------------------------------------------- */

.project {
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project--grey {
  position: relative;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.048);
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.portfolio_item_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio_item_img_grey {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.portfolio_item_hover {
  /* visibility: hidden; */
  position: absolute;
  top: 0;
  background-color: #4b6dc1f1;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  padding: 2em;
  color: white;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 100%;
}

.projectTitle {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  padding: 1em;
  color: rgba(0, 0, 0, 0.856);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.856);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.418),
    1px 1px 2px rgba(255, 255, 255, 0.418),
    1px -1px 0 rgba(255, 255, 255, 0.418),
    -1px -1px 0 rgba(255, 255, 255, 0.418);
}

.projectTitleGrey {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  padding: 1em;
  color: rgb(139, 139, 139);
  -webkit-text-fill-color: rgb(126, 126, 126);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  /* text-align: center; */
  /* font-size: 2em; */
  font-weight: 800;
  text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.418),
    1px 1px 2px rgba(255, 255, 255, 0.418),
    1px -1px 0 rgba(255, 255, 255, 0.418),
    -1px -1px 0 rgba(255, 255, 255, 0.418);
}

.titleInner {
  font-size: 1.25em;
}

.titleInnerMobile {
  font-size: 0.5em;
}

.card_container {
  max-height: 300px;
  margin-bottom: 1em;
}


/* ----------------------------------------------------- */
/* Styling for contact section */
/* ----------------------------------------------------- */

/* Section hr */
.sectionBreak {
  width: 100%;
  height: 1px;
  color: black;
  background-color: black;
}

/* Special text area for use with the email popup */
#vanillaTextarea {
  border: none;
  overflow: auto;
  outline: none;
  background: none;
  color: inherit;
  overflow-wrap: break-word;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  min-width: 28ch;
}

#vanillaTextarea:focus {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}
