body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

.background-blue {
  background-color: rgb(75, 108, 193);
}

.display-flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* NOTES:
- Current breakpoint for desktop/mobile is 767px

*/

/* ----------------------------------------------------- */
/* Styling for NavBar Component */
/* ----------------------------------------------------- */

.nav__opener {
  position: fixed;
  top: 0;
  width: 100%;
  height: 54px;
  transition: height 2s;
  overflow: hidden;
  z-index: 9999;
}

/* ----------------------------------------------------- */
/* Styling for Tooltip Component */
/* ----------------------------------------------------- */

.tooltip {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 1;
  overflow: visible;
}

/* Tooltip text */
.tooltip .tooltip__text {
  visibility: hidden;
  background-color: rgb(75, 108, 193);
  color: #fff;
  text-align: center;
  width: 120px;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: -60px;
}

/* Tooltip text large */
.tooltip .tooltip__text--responsive {
  visibility: hidden;
  background-color: rgb(75, 108, 193);
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 1em;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Bottom Postion Specific Styling */
.tooltip .tooltip__text--bottom {
  top: 100%;
  left: 50%;
}

/* Top Position Specific Styling */
.tooltip .tooltip__text--top {
  bottom: 100%;
  left: 50%;
}

/* Show the tooltip text when you mouse over the tooltip container or click it */
.tooltip--hoverable:hover .tooltip__text {
  visibility: visible;
}

/* Show the tooltip text when you select (click or tab to) the tooltip container element */
.tooltip--clickable:focus-within .tooltip__text {
  visibility: visible;
}

.tooltip .tooltip__text--top::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(75, 108, 193) transparent transparent transparent;
}

.tooltip .tooltip__text--bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(75, 108, 193) transparent;
}

/* Styling for tooltip modal */
.tooltip__modal {
  max-width: 75vw;
  margin: auto;
}
/* ----------------------------------------------------- */
/* Styling for About section component */
/* ----------------------------------------------------- */

/* This class has a Media Query version for mobile size */
.about__text-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.about__header {
  font-size: 5em;
}

.about__text {
  font-size: 2em;
}

/* This class has a Media Query version for mobile size */
.about__img-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.about__img {
  border-radius: 0.5em;
}

@media only screen and (max-width: 767px) {
  .about__text-container {
    display: flex;
    align-items: center;
    min-height: 0;
    padding-top: 2em;
    padding-bottom: 0;
  }

  .about__img-container {
    min-height: 0;
    display: flex;
    align-items: center;
  }
}

/* ----------------------------------------------------- */
/* Styling for Project Card component */
/* ----------------------------------------------------- */

.project__container {
  max-height: 300px;
  margin-bottom: 1em;
}

.project__container:focus {
  outline: none;
}

.project {
  position: relative;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project__overlay {
  position: absolute;
  top: 0;
  background-color: rgba(75, 109, 193, 0.945);
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  padding: 2em;
  color: white;
}

.project--grey {
  position: relative;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.048);
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.project__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__img--grey {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.project__button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
  width: 100%;
}

.project__title {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  padding-top: 1em;
  color: rgba(0, 0, 0, 0.856);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.856);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.418),
    1px 1px 2px rgba(255, 255, 255, 0.418),
    1px -1px 0 rgba(255, 255, 255, 0.418),
    -1px -1px 0 rgba(255, 255, 255, 0.418);
}

.project__title--grey {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 50vw;
  max-height: 300px;
  border-radius: 20px;
  padding-top: 1em;
  color: rgb(139, 139, 139);
  -webkit-text-fill-color: rgb(126, 126, 126);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: white;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.418),
    1px 1px 2px rgba(255, 255, 255, 0.418),
    1px -1px 0 rgba(255, 255, 255, 0.418),
    -1px -1px 0 rgba(255, 255, 255, 0.418);
}

.project__title-inner {
  font-size: 1.25em;
}

@media only screen and (max-width: 767px) {
  .project__title-inner {
    font-size: 0.5em;
  }

  .project__overlay {
    overflow: auto;
    padding: 0.75em;
    background-color: rgba(75, 109, 193, 0.788);
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .project__overlay::-webkit-scrollbar {
    display: none;
  }

  .project__overlay h3 {
    margin: 0;
  }

  .project__button-container {
    position: relative;
    height: 100%;
    flex-wrap: wrap;
    align-items: flex-end;
    z-index: 10;
    visibility: visible;
  }

  .project__button {
    margin-top: 1em;
    max-width: 20ch;
    color: white;
    background-color: rgb(75, 108, 193);
    border: rgb(75, 108, 193);
  }

}

/* ----------------------------------------------------- */
/* Styling for button drawer component */

.drawer__outer {
  position: relative;
  /* height: 15vh; */
}

.drawer__hr {
  /* position: absolute; */
  width: 100%;
  /* top: 0; */
  height: 1px;
  color: black;
  background-color: black;
  /* border-bottom: 1px solid black; */
}

.plus__button {
  position: absolute;
  top: 0.75em;
  left: 1.75em;
  background: none;
  border: none;
  border-radius: 100%;
  z-index: 5;
  font-size: 1em;
}

.plus__icon {
  color: black;
  transform: rotate(0deg);
  transition: transform 2s;
}

.plus__background {
  position: absolute;
  top: calc(50% - 0.35em);
  left: calc(50% - 0.35em);
  width: 0.75em;
  height: 0.75em;
  background-color: white;
  border-radius: 100%;
  z-index: -1;
}

.drawer__inner {
  position: relative;
  height: 0vh;
  max-height: 28vh;
  transition: height 2s, transform 2s;
  overflow: hidden;
}

/* ----------------------------------------------------- */
/* Styling for technology filter icons */

.tech {
  overflow: visible;
  position: relative;
  margin: 0.2em;
  padding: 0.1em;
  background: none;
  max-height: 18vh;
  border-radius: 5%;
  margin-bottom: 3px;
  align-self: stretch;
}

.tech--highlight {
  border-bottom: 3px solid rgb(75, 108, 193);
  margin-bottom: 0px;
}

.tech__centerer {
  height: 100%;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.tech__image--grey {
  filter: grayscale(100);
}

/* ----------------------------------------------------- */
/* Styling for contact section */
/* ----------------------------------------------------- */

/* Section hr */
.contact__hr {
  width: 100%;
  height: 1px;
  color: black;
  background-color: black;
}

/* Special text area for use with the email popup */
#contact__email {
  border: none;
  overflow: auto;
  outline: none;
  background: none;
  color: inherit;
  overflow-wrap: break-word;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  min-width: 28ch;
}

#contact__email:focus {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}

/* ----------------------------------------------------- */
/* Styling for contact cards */

.contact__container {
  max-height: 300px;
  margin-bottom: 1em;
}

.contact__card {
  position: relative;
  width:100%;
  height: fit-content;
  max-height: 300px;
  
}

.contact__image {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  object-fit: cover;  
}

.contact__link {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}