body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .profilePic {
  right: 1em;
} */

.profilePic img {
  position: relative;
  /* max-width: 200px !important; */
  border-radius: 10px;
  object-fit: scale-down;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.overlapContainer {
  position: absolute;
  right: 70%;
  top: 0;
  width: 225%;
  z-index: 3;
}

.iconBarComponent {
  position: relative;
  width: 100%;
}

.spacer {
  clear: both;
  min-width: 1px;
  min-height: 1px;
}

.aboutHOne {
  margin-bottom: -5%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 100pt;
}

@media only screen and (max-width: 1200px) {

  .portfolioHOne {
    margin-top: 10%;
  }
  
}

@media only screen and (max-width: 992px) {

  .portfolioHOne {
    margin-top: 40%;
  }
  
}

@media only screen and (max-width: 767px) {

  h1 {
    margin-top: -40%;
    font-size: calc(20vw);
  }

  .contactHOne {
    margin-top: 0;
  }
  /* .aboutHOne {
    margin-bottom: -10%;
  } */

  .overlapContainer {
    position: relative;
    right: 0;
    top: -15%;
    width: 100%;
    margin: 0, auto;
  }
  
}