body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iconBarBar {
  position: relative;
  /* width: 100%; */
  height: 20px;
  top: 1em;
  z-index: 1;
  background-color: rosybrown;
  overflow: hidden;
  border-radius: 25px;
}

.iconBarIcons {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.iconBarIcons span {
  padding-left: 2em;
  padding-right: 2em;
  font-size: xx-large;
}

img {
  max-width: 200px !important;
}