body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background-blue {
  background-color: #4b6cc1;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global font for website */
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");


/* Some general defaults */
.background-blue {
  background-color: #4b6cc1;
}

.display-flex {
  display: flex;
}

/* Tooltip Module Styling */

.tooltip {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: 999;
  opacity: 1;
  overflow: visible;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #4b6cc1;
  color: #fff;
  text-align: center;
  width: 120px;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Tooltip text large */
.tooltip .tooltiptextResponsive {
  visibility: hidden;
  background-color: #4b6cc1;
  color: #fff;
  text-align: center;
  width: fit-content;
  padding: 1em;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Bottom Postion Specific Styling */
.tooltip .tooltiptextBottom {
  top: 100%;
  left: 50%;
  
}

/* Top Position Specific Styling */
.tooltip .tooltiptextTop {
  bottom: 100%;
  left: 50%;
}

/* Show the tooltip text when you mouse over the tooltip container or click it */
.tooltipHoverable:hover .tooltiptext {
  visibility: visible;
}

/* Show the tooltip text when you select (click or tab to) the tooltip container element */
.tooltipClickable:focus-within .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptextTop::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #4b6cc1 transparent transparent transparent;
}

.tooltip .tooltiptextBottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4b6cc1 transparent;
}

/* End Tooltip Module Styling */

/* Text area with no styling */
#vanillaTextarea {
  border: none;
  overflow: auto;
  outline: none;
  background: none;
  color: inherit;
  overflow-wrap: break-word;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  min-width: 28ch;
}

#vanillaTextarea:focus {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: white;
}